.hinh-nen-trang-dien-thoai-55-1-icon10,
.logo-mixi-tt-1-icon10 {
  position: absolute;
  top: -275px;
  left: 0;
  width: 1440px;
  height: 476px;
  object-fit: cover;
}
.logo-mixi-tt-1-icon10 {
  top: 17px;
  left: 40px;
  width: 90px;
  height: 54px;
  cursor: pointer;
  z-index: 1;
}
.main-menu-container {
  height: 201px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -113px;
  left: 0;
}
.tt-c-menu-child8 {
  height: 52px;
  width: 52px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.home10 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  bottom: -4px;
  left: calc(50% - 78.5px);
  font-weight: 800;
  display: inline-block;
}
.home-navigation1,
.navigation-menu {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-navigation1 {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.navigation-menu {
  width: 45px;
  overflow: hidden;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  z-index: 1;
}
.danh-mc-sn14 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
}
.danh-mc-sn-phm-wrapper1,
.product-category-menu {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-mc-sn-phm-wrapper1 {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.product-category-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  z-index: 1;
}
.thng-bo10 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.product-category-navigation {
  height: 36px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.sub-navigation {
  width: 495px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-33xl);
  max-width: 100%;
}
.paper-bag-icon10 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.gi-hng10 {
  position: absolute;
  top: 25px;
  left: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 22px;
  white-space: nowrap;
}
.user-action-icons5 {
  height: 41px;
  width: 40px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.male-user-icon18 {
  position: absolute;
  top: 0;
  left: 7px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.ti-khon10 {
  position: absolute;
  top: 25px;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 22px;
  white-space: nowrap;
}
.user-action-icons6 {
  height: 41px;
  width: 44px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.user-actions6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.tt-c-menu10,
.user-navigation1 {
  box-sizing: border-box;
  display: flex;
}
.user-navigation1 {
  width: 125px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.tt-c-menu10 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-gray);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-8xl) var(--padding-lg)
    var(--padding-293xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.o-pubg43 {
  width: 98px;
  height: 29px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ca-hng7,
.trang-ch7 {
  position: relative;
  display: inline-block;
  min-width: 69px;
  cursor: pointer;
}
.ca-hng7 {
  z-index: 1;
}
.o-pubg44 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.breadcrumb-path {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-mc-sn15 {
  position: relative;
}
.category-divider2,
.frame-child58 {
  position: relative;
  box-sizing: border-box;
}
.category-divider2 {
  width: 24px;
  height: 2px;
  border-top: 2px solid var(--color-black);
}
.frame-child58 {
  height: 25px;
  width: 90px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  display: none;
}
.o-ba-l57 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child59,
.rectangle-parent52 {
  width: 90px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
}
.rectangle-parent52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 var(--padding-9xs-5);
  white-space: nowrap;
  cursor: pointer;
}
.frame-child59 {
  height: 25px;
  position: relative;
  display: none;
}
.o-csgo34 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child60,
.rectangle-parent53 {
  width: 90px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
}
.rectangle-parent53 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 var(--padding-9xs-5);
  white-space: nowrap;
  cursor: pointer;
}
.frame-child60 {
  height: 25px;
  position: relative;
  display: none;
}
.o-mixi61 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child61,
.rectangle-parent54 {
  width: 90px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
}
.rectangle-parent54 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 var(--padding-9xs-5);
  white-space: nowrap;
  cursor: pointer;
}
.frame-child61 {
  height: 25px;
  position: relative;
  background-color: var(--color-teal-200);
  display: none;
}
.o-pubg45 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child62,
.rectangle-parent55 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
}
.rectangle-parent55 {
  width: 90px;
  background-color: var(--color-teal-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 var(--padding-9xs-5);
  white-space: nowrap;
  color: var(--color-white);
}
.frame-child62 {
  height: 25px;
  width: 150px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.o-refund-gaming15 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-child63,
.rectangle-parent56 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
}
.rectangle-parent56 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 var(--padding-9xs-5);
  white-space: nowrap;
  cursor: pointer;
}
.frame-child63 {
  height: 25px;
  width: 150px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.lu-nim-mixi37 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.rectangle-parent57 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 var(--padding-9xs-5);
  white-space: nowrap;
  cursor: pointer;
}
.category-list1 {
  width: 150px;
  gap: var(--gap-base-7);
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-teal-200);
}
.breadcrumb-structure1,
.category-list1,
.product-categories8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-categories8 {
  gap: var(--gap-4xs);
  font-size: var(--font-size-sm);
}
.breadcrumb-structure1 {
  width: 207px;
  gap: var(--gap-xl);
}
.product-images-icon8 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg46 {
  margin: 0;
  font-weight: 300;
}
.o-logo-pubg2 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p72 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container8 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-pair4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-images-icon9 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg47 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-shotgun {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p73 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container9 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-pair5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-images-icon10 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg48 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-m2 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p74 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container10 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-pair6,
.product-rows3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-pair6 {
  flex: 1;
  gap: var(--gap-8xs);
}
.product-rows3 {
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-xs);
}
.frame-child64 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg49 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-u {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p75 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container11 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.rectangle-parent58 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child65 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg50 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-m3 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p76 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container12 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.rectangle-parent59 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child66 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg51 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-m4 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p77 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container13 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-rows4,
.rectangle-parent60 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent60 {
  flex: 1;
  gap: var(--gap-8xs);
}
.product-rows4 {
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-xs);
}
.product-images-icon11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg52 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-uzi {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p78 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container14 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-pair7 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-pair-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg53 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-pochinki {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p79 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container15 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-grid5,
.product-pair8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-pair8 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-8xs);
}
.product-grid5 {
  height: 733px;
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-2xs);
}
.product-grid4 {
  width: 714px;
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.breadcrumb-navigation-path,
.product-grid4,
.product-list {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-list {
  height: 1143px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xs);
}
.breadcrumb-navigation-path {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xs);
}
.breadcrumb-container,
.breadcrumb-navigation2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.breadcrumb-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xs);
}
.breadcrumb-navigation2 {
  width: 1275px;
  flex-direction: row;
  padding: 0 var(--padding-57xl) var(--padding-54xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-3-stroke10 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content-divider1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl-5);
  box-sizing: border-box;
  max-width: 100%;
}
.next-page-icon10 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.v-chng-ti21 {
  letter-spacing: 0.01em;
}
.v-chng-ti20 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line175 {
  letter-spacing: 0.01em;
}
.blank-line174 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc10 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container10 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
}
.h-tr10 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.support-header5 {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line176,
.blank-line177 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line177 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc10 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t10 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram21 {
  font-weight: 300;
}
.fanpage-v-instagram20 {
  margin: 0;
}
.mi-thc-mc-container10 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
}
.support2 {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm10 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line178 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container10 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.product-link-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi64 {
  margin-bottom: 10px;
}
.o-mixi63 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi62 {
  flex: 1;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  z-index: 2;
}
.mixi-category {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l59 {
  margin-bottom: 10px;
}
.o-ba-l58 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container28 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.lu-nim-mixi39 {
  margin-bottom: 10px;
}
.lu-nim-mixi38 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container21 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.o-refund-gaming16 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container11 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-csgo36 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo35 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-pubg55 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg54 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.product-link-categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin21 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin20 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.information-header2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu20 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chnh-sch-bo-mt10 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container10 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.iu-khon21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon20 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sitemap21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap20 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.information-links2,
.product-links3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.information-links2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.product-links3 {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.about-us5 {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.line-4-stroke10,
.next-page-group {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.next-page-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke10 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-202410 {
  font-weight: 300;
}
.copyright-2024-container10 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright-information1,
.copyright4,
.footer-content10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-information1 {
  width: 364px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.copyright4,
.footer-content10 {
  flex-direction: column;
}
.copyright4 {
  width: 1288px;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-content10 {
  width: 1330px;
}
.footer7,
.shop-o-pubg {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.footer7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.shop-o-pubg {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs-5);
  gap: var(--gap-4xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .breadcrumb-navigation2 {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .breadcrumb-navigation-path {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .sub-navigation {
    gap: var(--gap-7xl);
  }
  .user-actions6 {
    display: none;
  }
  .user-navigation1 {
    width: 0;
  }
  .tt-c-menu10 {
    padding-left: var(--padding-137xl);
    box-sizing: border-box;
  }
  .breadcrumb-navigation2 {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .about-us5 {
    height: auto;
    min-height: 350;
  }
}
@media screen and (max-width: 450px) {
  .tt-c-menu10 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .danh-mc-sn-container10,
  .h-tr10 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container21,
  .o-ba-l-container28,
  .o-csgo35,
  .o-mixi62,
  .o-pubg54,
  .o-refund-gaming-container11 {
    font-size: var(--font-size-mid);
  }
  .thng-tin20 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container10,
  .gii-thiu20,
  .iu-khon20,
  .sitemap20 {
    font-size: var(--font-size-mid);
  }
  .information-links2 {
    margin-left: 0;
  }
  .copyright-2024-container10 {
    font-size: var(--font-size-mid);
  }
}
